<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Team_1')">Team 1</button>
  <button class="tablinks" onclick="openCity(event, 'Team_2')">Team 2</button>
  <button class="tablinks" onclick="openCity(event, 'Team_3')">Team 3</button>
  <button class="tablinks" onclick="openCity(event, 'Team_4')">Team 4</button>
  <button class="tablinks" onclick="openCity(event, 'Team_5')">Team 5</button>
</div>

<div id="Team_1" class="tabcontent">
	<h3>Team 1</h3>
	<div class="test">
		<div class="card">
			<img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlNQ2yyZICBI_pcqc_KxT55FYvlpE8TtOKTlVuNuVyjbr1BSwLhw" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://www.horeb-school.org/wp-content/uploads/2018/01/avatar1.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://cdn2.iconfinder.com/data/icons/avatar-2/512/oscar_boy-512.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBITLnZ3sR4MT3hvFOlphhQGwfsi8H2OH5EgLzKm6iR5McCZnt" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="http://profilepicturesdp.com/wp-content/uploads/2018/07/profile-avatar-pictures-6.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
	</div>
</div>

<div id="Team_2" class="tabcontent">
  <h3>Team 2</h3>
	<div class="test">
		<div class="card">
			<img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShE1TpXskDECbsUGyzXLtFHYPFLz7-L4YAAmrg-FS-TqedV1Ug" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://cdn2.vectorstock.com/i/1000x1000/83/11/man-with-sunglasses-cartoon-vector-19488311.jpg" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="http://icons-for-free.com/free-icons/png/512/628290.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ20eiO916vMzlWZyFQT_mIzj6btGEjWNmDdSG4X2TYcoiA-wA_" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="http://icons-for-free.com/free-icons/png/512/628289.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
		<div class="card">
			<img class="image" src="https://www.csie.ntu.edu.tw/~b01902068/old/view/assets/img/profile.jpg" alt="Avatar" style="width:100%">
			<div class="container">
				<h4><b>John Doe</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div> 
	</div>
</div>

<div id="Team_3" class="tabcontent">
  <h3>Team 3</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Team_4" class="tabcontent">
  <h3>Team 4</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Team_5" class="tabcontent">
  <h3>Team 5</h3>
  <p>London is the capital city of England.</p>
</div>

