<div class="navbar">
  <div class="left">
    <button class="home" >Home</button>
    <button class="bouton" >page 1</button>
    <button class="bouton" >page 2</button>
    <button class="bouton" >page 3</button>
  </div>
  <div class="right">


  <div class="dropdown">
      <img onclick="myFunction()" class="dropbtn" src="https://thumbs.dreamstime.com/t/ic-ne-d-homme-conception-de-personne-dessin-de-vecteur-73697126.jpg">
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 


  </div>
</div>